<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>

    <h1>Welcome back <%= name %> </h1>

   

    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept=".jpeg,.jpg,.png,.pdf,.doc,.docx,.txt"><br /><br />
    <input type="submit" value="Upload">
    </form>
    <br />
    <a href="/logout">Logout</a>

    
</body>
</html>